@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/animations.scss';
@import 'styles/typography.scss';

.user {
  
  // User Card Styles
  &__card {
    min-height: 700px;
    height: 75vh;
    color: $main-color;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba($accent1-color, 0.5);

    // Common Header Styles
    &--header {
      height: 50px;
      font-size: 26px;
      color: $accent1-color;
      text-align: center;
      background-color: rgba($accent2-color, 0.9);
    }

    // Profile Nav
    &--nav {
      width: 500px;
      margin-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    }

    // User Profile Page Styles
    &--profile {
      padding: 20px;
      display: grid;
      grid-gap: 20px;
      text-align: center;

      // User Name
      &-name {
        font-size: 30px;
        padding: 10px;
        text-align: center;
      }

      // User Email
      &-name {
        font-size: 30px;
        padding: 10px;
        text-align: center;
      }

      // User Tag Line
      &-tag {
        font-size: 30px;
        padding: 10px;
        text-align: center;
      }

      // Save Button
      &-save {
        justify-items: center;
      }

      // List User Events
      &-list {
        display: flex;
        justify-content: center;
        margin-top: 40px;
      }
    }

    // Host Show Page Styles
    &--show {

      // Host Show Page Body Content Styles
      &-body {

        // Body Content under Host Title
        &-host {
          padding: 18px;
          padding-bottom: 5px;

          // Host Tag Line
          &-tag {
            padding: 5px;
            text-align: center;
            font-size: 20px;
          }

        }

        // Body Content under Event Title
        &-event {
          padding: 10px 5px;
          text-align: center;
          &-body {
            padding: 15px 5px;
            font-size: 18px;
          }
          &-header {
            font-size: 20px;
            color: $accent2-color;
          }
        }
      }

      // Host Show Page Footer Stles
      &-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
      }

    }

    // Host Event List Page Styles
    &--list {
      display: block;

      // Event List Item Page Styles
      &-item {
        height: 100px;
        margin: 5px;
        padding: 5px;
        text-align: center;
        border: 2px;
        border-style: inset;

        &-name {
          margin: 5px;
        }

        &-bar {
          margin: 5px;
        }

        &-date {
          margin: 5px;
        }

        &-attendees {
          margin: 5px;
        }
    }

    }

    // Create New Event
    &--create-event {
      display: flex;
      justify-content: center;
    }
  }
};

h1.user__card--header {
  display: flex;
  align-items: center;
  justify-content: center;
}
