@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/animations.scss';
@import 'styles/typography.scss';
@import 'styles/reset.scss';

.user {
  
  // User Card Styles
  &__card {
    min-height: 700px;
    width: 500px;
    color: $main-color;
    background-color: $accent1-color;

    // Common Header Styles
    &--header {
      height: 50px;
      border-style: outset;
      color: $accent1-color;
      background-color: $accent2-color;
      text-align: center;
      background-image: url('../../../public/images/evt-bg2.png');
    }

    // Profile Page Styles
    &--profile {
      padding: 20px;
      display: grid;
      grid-gap: 20px;
      text-align: center;

      // User name
      &-name {
        font-size: 30px;
        padding: 10px;
        text-align: center;
      }

      // User Tag Line
      &-tag {
        font-size: 30px;
        padding: 10px;
        text-align: center;

        &-text {
          
        }
      }
    }
  }
};