@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Lexend+Tera&display=swap');

$fonts: (
  header: 'Lexend Tera',
  body: 'Be Vietnam'
);

@each $font, $value in $fonts {
  .text--#{$font} {
    font-family: $value;
  }
};
