$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$main-color: #2F2FA2;
$accent1-color: white;
$accent2-color: #F64C72;
$accent3-color: #99738E;
$cancel-color: #FAA7A8;
$error-color: #FF9F43;
$confirm-color: #8BE8E8;

$white: #fff;
$black: #000;

$dark-background: #222f3e;

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: #54a0ff;

$spacing: 2rem;


$background-image: url('/public/images/old-map.png');