$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$main-color: #87A0C1;
$accent1-color: #DEE7E7;
$accent2-color: #96ACB7;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;
