@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/animations.scss';

$event-height: 60rem;
$event-item-height: 11rem;

.event {

  min-height: $event-height;

  // event__item is the EventListItem
  &__item {
    @include fade;

    min-height: $event-item-height;
    color: $main-color;
    height: 5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: $accent1-color;
      cursor: pointer;
      color: $accent2-color;
    }
  }

}