@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/animations.scss';
@import 'styles/typography.scss';
@import 'styles/reset.scss';

.event {

  // Event Card Styles
  &__card {
    border-radius: 10px;
    height: 75vh;
    width: 500px;
    color: $main-color;

    // Profile Nav
    &--nav {
      width: 500px;
      margin-top: 10px;
      display: grid;
      justify-items: center;
    }

    // Common Header Styles
    &--header {
      height: 50px;
      font-size: 26px;
      color: $accent1-color;
      background-color: rgba($accent2-color, 0.8);
      text-align: center;

      &-host {
        height: 50px;
        font-size: 26px;
        color: $accent1-color;
        background-color: rgba($accent2-color, 0.8);
        text-align: center;
        border-radius: 0px 10px 0px 0px;
      }
    }

    // Show Page Styles
    &--show {

      // Show Page Body Content Styles
      &-body {
        
        // Body Content under Host Title
        &-host {
          background-color: rgba($accent1-color, 0.5);
          padding: 18px;
          padding-bottom: 5px;
          
          // Host Name
          &-name {
            font-size: 30px;
            padding: 10px;
            text-align: center;
            color: $main-color;
          }

          // Host Tag Line
          &-tag {
            padding: 5px;
            text-align: center;
            font-size: 16px;
          }
        }

        // Body Content under Event Title
        &-event {
          padding: 10px;
          text-align: center;
          background-color: rgba($accent1-color, 0.5);

          &-body {
            padding: 5px;
            font-size: 22px;
            color: $main-color;
          }

          &-header {
            font-size: 18px;
            color: $black;
          }
        }
      }

      // Show Page Footer Stles
      &-footer {
        height: 75px;
        border-radius: 0px 0px 10px 10px;
        background-color: rgba($accent1-color, 0.5);
        
        &-join {
          height: 50px;
          display: block;
          margin: auto;
          padding-top: 10px;
        }
      }
    }

    // Event List Page Styles
    &--list {

      // Event List Item Page Styles
      &-item {
        height: 12vh;
        padding: 6px;
        text-align: center;
        border-width: 0px 0px 2px 0px;
        border-style: solid;
        border-color: rgba($main-color, 0.5);
        color: $main-color;
        background-color: rgba($accent1-color, 0.5);


        &-name {
          margin-top: 0px;
          margin-bottom: 5px;
          font-size: 20px;
        }

        &-bar {
          margin: 5px;
          font-size: 20px;
        }

        &-date {
          margin: 5px;
          font-size: 15px;
        }
      }

      &-item:hover {
        color: $white;
        background-color: rgba($main-color, 0.8);
      }
    }

    // Form Page Styles
    &--form {
      
      &-body {
        padding: 20px;
        display: grid;
        grid-gap: 28px;
        justify-items: center;
        background-color: rgba($accent1-color, 0.5);

        &-date {
          margin: 0px;
          flex-direction: none;
        }
      }
    }
  }
}

h1.event__card--header {
  display: flex;
  align-items: center;
  justify-content: center;
}