@import 'styles/variables.scss';

.topbar {
  background-color: $main-color;
  box-shadow: 0px 4px 8px rgba($main-color, 0.5);
  display: flex;
  &__together {
    height: 70px;
  }
  &--centered {
    align-self: center;
  }
  &__separator {
    width: 90%;
    // margin: $spacing 0;
    border: solid 1px;
    // color: darken($white, 5%);
  }
  &__menu {
    flex: 1;
  }
  &__lhl {
    margin-top: 2rem;
  }
}