@import "styles/mixins.scss";
@import "styles/variables.scss";

.Navbutton {
  font-size: 1.5rem;
  height: 100%;
  line-height: 1.2rem;
  width: 8rem;
  border-width: 2px;
  border-style: solid;
  border-color: $main-color;
  vertical-align: middle;
}

.Navbutton--confirm {
  color: $white;
  background-color: transparent;
}

.Navbutton--confirm:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.Navbutton--cancel {
  color: $cancel-color;
  background-color: transparent;
}

.Navbutton--cancel:hover {
  color: $white;
  background-color: $cancel-color;
}