@import "styles/mixins.scss";
@import "styles/variables.scss";

.button {
  border: 0;
  font-size: 1rem;
  height: 2rem;
  line-height: 1.2rem;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
}

.button:hover {
  @include button-active;

  color: $black;
  background-color: $white;
  border: 2px solid transparent;
}

.button--blue {
  border-radius: 1rem;
  width: 8rem;
  margin-right: 1rem;
  color: $main-color;
  border-color: $main-color;
  background-color: transparent;
}

.button--red {
  border-radius: 1rem;
  width: 8rem;
  margin-right: 1rem;
  color: $main-color;
  border-color: $main-color;
  background-color: transparent;
}

.button--local {
  border-radius: 10px 7.5px 0px 0px;
  width: 10.4rem;
  border-color: $main-color;
  border-bottom: transparent;
  color: $white;
  background-color: rgba($main-color, 0.5);
}

.button--brand {
  border-radius: 1rem;
  width: 8rem;
  margin: 1rem;
  border-color: $main-color;
  color: $white;
  background-color: rgba($main-color, 0.7);
}

.button--brand:hover {
  color: $white;
  background-color: $main-color;
}

.button--local:hover {
  color: $white;
  background-color: $main-color;
}

.button--blue:hover {
  color: $white;
  background-color: $accent2-color;
}

.button--red:hover {
  color: $white;
  background-color: $cancel-color;
}

.button:last-of-type {
  margin-right: 0;
}

.button:focus {
  outline: none;
}

.button:disabled {
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
  opacity: 0.7;
}