@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/animations.scss';
@import 'styles/typography.scss';
@import 'styles/reset.scss';

.common {
  &__card {
    display: flex;
    min-height: 700px;
    width: 500px;
    color: $main-color;
    background-color: $accent1-color;
    text-align: center;

    &--outline {
      width: 80%;
      margin: auto;
      font-size: 14px;
      padding: 10px;
      border-style: solid;
      border-radius: 1rem;
      background-color: $accent1-color;

      &-cc {
        padding: 10px;
      }
    }

    &--outline h1, h3 {
      font-size: 20px;
      padding-top: 5px;
      padding-bottom: 15px;
    }

    &--error {
      &-img {
        float: right;
        &:hover {
          border-radius: 5em;
          background-color: $accent2-color;
        }
      }
    }

  }
}

// Status Image
.status-image {
  margin-right: 2rem;
  animation: rotate 1s linear infinite;
}

// Time Picker Colon
.time--colon {
  margin-right: 30px;
}