@import 'styles/variables.scss';

.wrapper__navbar {
  grid-area: nav;
}

.wrapper__map {
  position: relative;
  grid-area: map;
}

.wrapper__card {
  grid-area: card;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-column-gap: 25px;
  grid-template-areas:
    "nav"
    "map"
    "card";

  &__card {
    justify-self: center;
  }
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas: 
      "nav  nav"
      "map  card";
  }
}
