.map-header {
    border-width: 2px;
    border-style : solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-color: white;
    width: 35rem;
    height: 50px;
    background-image: linear-gradient(to bottom right, rgb(126, 118, 118), rgb(255, 255, 227));

    div {
      height: 40px;
      .text-header {
        // font-family: $openSansCondensed;
        padding-left: 20px;
        padding-top: 10px;
      }
    }
}