.map-header {
  display: flex;
  background-image: linear-gradient(
    to bottom,
    rgb(90, 122, 170),
    rgb(241, 241, 241)
  );
}

.map-body > div {
  z-index: -1;
}

.text-header {
  display: flex;
  align-items: center;
  // padding-left: 20px;
  // padding-top: 10px;
}
